/*Очитстка float*/
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}

* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #007991, #78ffd6);
}
.wrapper {
  /*position: relative;*/
}
.piano {
  position: relative;
  margin: auto;
  padding: 0;
  width: 700px;
}
.piano.outside {
  overflow: hidden;
}
.piano li {
  display: inline-block;
}
.white {
  cursor: pointer;
  width: 50px;
  height: 250px;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  border: 1px solid #000;
  box-shadow: inset 0px -4px 11px -6px #000, 0 1px 3px #333333;
}
.white:hover {
  background-color: #f4f4f4;
}
.white:active {
  /*	width: 45px;
	height: 255px;*/
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}
.keyPress {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}
.black {
  cursor: pointer;
  width: 26px;
  height: 150px;
  background-color: #2a2929;
  border-radius: 0 0 5px 5px;
  position: absolute;
  margin-left: -13px;
  background-image: -webkit-linear-gradient(top, #2a2929 88%, #747474);
  background-image: -moz-linear-gradient(top, #2a2929 88%, #747474);
  background-image: -o-linear-gradient(top, #2a2929 88%, #747474);
  background-image: linear-gradient(top, #2a2929 88%, #747474);
}
.black:hover {
  background-color: #000;
  background-image: -webkit-linear-gradient(top, #000 88%, #747474);
  background-image: -moz-linear-gradient(top, #000 88%, #747474);
  background-image: -o-linear-gradient(top, #000 88%, #747474);
  background-image: linear-gradient(top, #000 88%, #747474);
}
.slider {
  position: relative;
  cursor: pointer;
  height: 250px;
  background-color: #f4f4f4;
  opacity: 0.5;
  width: 35px;
}
.slider:hover {
  opacity: 0.4;
  transition: all 0.5s;
}
.slider.right {
  border-radius: 0 5px 5px 5px;
}
.slider.left {
  border-radius: 5px 0 5px 5px;
}
.fa {
  position: absolute;
  color: #e8bf77;
  left: 10px;
  top: 110px;
}
.third {
  position: absolute;
  left: 700px;
  top: 0px;
}
.first {
  float: left;
  position: relative;
}
.second {
  float: left;
  position: relative;
}
.show {
  display: block;
}
.arrows {
  margin: auto;
  margin-top: 10%;
  padding: 0;
  width: 770px;
}
.arrows li {
  display: inline-block;
}
.slider li {
  margin-top: -5px;
}
.small {
  position: absolute;
  left: -350px;
}
.small li:first-child {
  background-color: red;
}
.first li:first-child {
  background-color: yellow;
}
.second li:first-child {
  background-color: green;
}
.third li:first-child {
  background-color: purple;
}
